<div class="container-fluid peventos">
    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4 peventos_titulo">
            <h1 class="text-center">Eventos</h1>
        </div>
        <div class="col-md-4"></div>
    </div>

    
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">Opción</th>
                    <th scope="col">Tamaño</th>
                    <!-- <th scope="col">Precio</th> -->
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>30 personas</td>
                    <!-- <td>$ 1550.00</td> -->
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>50 personas</td>
                    <!-- <td>$ 1850.00</td> -->
                  
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>80 personas</td>
                    <!-- <td>$ 2200.00</td> -->
                    
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>100 personas</td>
                    <!-- <td>$ 2500.00</td> -->
                   
                  </tr>
                </tbody>
              </table>    
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <p class="text-center">Se pueden plasmar dibujos a tu eleccion <strong>con un costo extra</strong> </p>
        </div>
        <div class="col-md-6">
            <img src="http://trigalesdeoro.com.mx/images/payaso-u9686.png" class="img-fluid mt-3" alt="">
        </div>
        <div class="col-md-6">
            <img src="http://trigalesdeoro.com.mx/images/intensamente-u16117.png" class="img-fluid mt-3" alt="">
        </div>

    </div>

</div>
