<div class="container-fluid individuales">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Pasteles individuales</h1>
        </div>
    </div>

    <!-- Sin Card -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6 mb-3 individuales_card" *ngFor="let pastel of pasteles">
                <img src="{{pastel.imagen}}" class="img-fluid" alt="">
                <p class="text-center individuales_card_nombre">{{pastel.nombre}}</p>
                <p class="text-center individuales_card_content">{{pastel.descripcion}}</p>
                <p class="text-center individuales_card_precio">$ {{pastel.precio}}.00</p>
                <p class="text-center individuales_card_tamano">Tamaño:</p>
                <p class="text-center individuales_card_altura">Altura: {{pastel.altura}} cm.</p>
                <p class="text-center individuales_card_diametro">Diametro: {{pastel.diametro}} cm.</p>
    
            </div>
        </div>

    </div>


</div>