:host{

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(2, 173, 2);
        color: white;
        text-align: center;
        border-radius: 10px;
     }

}