<div class="container-fluid mt-5 pastelmenu">
    <div class="row mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 pastelmenu_titulo">
            <h1 class="text-center">Pasteles</h1>
        </div>
        <div class="col-md-4 mb-3"></div>
    </div>

    <div class="container mt-3 pastelmenu_content">
        <div class="row mt-5">
            
            <div class="col-md-6">
                <a [routerLink]="['/pasteles/3-Leches']"><h2 class="text-center pastelmenu_content_titulo">Pastel 3 leches</h2></a>
                <a [routerLink]="['/pasteles/3-Leches']"><img src="http://trigalesdeoro.com.mx/images/3l%20encanto%20fresa-u12224.png" class="img-fluid" alt=""></a>    
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/pasteles/envinados']"><h2 class="text-center pastelmenu_content_titulo">Pastel envinado</h2></a>
                <a [routerLink]="['/pasteles/envinados']"><img src="http://trigalesdeoro.com.mx/images/choconuez-u10634.png" class="img-fluid mt-4" alt=""></a>
                
            </div>

            <div class="col-md-6">
                <a [routerLink]="['/pasteles/barras']"><h2 class="text-center pastelmenu_content_titulo">Barras</h2></a>
                <a [routerLink]="['/pasteles/barras']"><img src="http://trigalesdeoro.com.mx/images/3%20l%20chocolate-u13688.png" class="img-fluid mt-3" alt=""></a>
                
            </div>

            <div class="col-md-6">
                <a [routerLink]="['/pasteles/eventos']"><h2 class="text-center pastelmenu_content_titulo">Eventos</h2></a>
                <a [routerLink]="['/pasteles/eventos']"><img src="http://trigalesdeoro.com.mx/images/payaso-u9686.png" class="img-fluid mt-3" alt=""></a>
                
            </div>
    
        </div>
    </div>

</div>
