<!-- <p>nosotros works!</p> -->
<div class="container nosotros mb-5">
    <div class="nosotros_titulo mt-4">
        <h1 class="text-center animate__animated animate__slideInDown">¿Quienes somos?</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 nosotros_imagen d-flex align-items-center justify-items-center">
            <!-- <img src="../../../../assets/images/logo 2016.png" class="img-fluid text-center" alt=""> -->
            <img src="http://www.trigalesdeoro.com.mx/images/logo%202016.png" class="img-fluid text-center" alt="">
            
        </div>
        <div class="col-lg-6 nosotros_historia mt-5">
            <h2 class="text-center titulo">Pastelería Trigales de oro</h2>
            <p class="mt-5 descripcion">           
                Somos una empresa desde 1997 comprometida con sus clientes,
                a los cuales nos debemos, por lo que estamos en constante evolución y actualización tanto en procesos,
                como en técnicas que nos permitan ofrecerle productos de la mejor calidad a un precio razonable. 
                Siempre con la calidad artesanal pero con la confianza de ofrecerle esa misma calidad a escala de producción industrial.
            </p>
        </div>
    </div>
 
    <div class="row mt-5 mb-3">
        <div class="col-md-4 mt-2 nosotros_images">
            <img src="../../../../assets/images/nosotros/1636500677400.jpg" class="img-fluid animate__animated animate__zoomInUp" alt="">
        </div>
        <div class="col-md-4 mt-2 nosotros_images">
            <img src="../../../../assets/images/nosotros/1636500677437.jpg" class="img-fluid animate__animated animate__zoomInUp" alt="">
        </div>
        <div class="col-md-4 mt-2 nosotros_images">
            <img src="../../../../assets/images/nosotros/1636500677367.jpg" class="img-fluid animate__animated animate__zoomInUp" alt="">
        </div>
    </div>
</div>
