:host{
    .pfmenu{
        &_titulo{
            border-radius: 20px;
            background-color: rgb(255, 208, 0);
        }

        h2:hover{
            background: rgb(2, 173, 2);
            color: white;
            transition: 1s;
        }

        &_content{
            a{
                text-decoration: none;
                color: black;
            }

            img:hover{
                background-color: rgb(246, 232, 168);
                border-radius: 20px;
                color: blue;
                transition: 1s;
            }

            &_titulo{
                border-radius: 40px;
                background-color: rgb(255, 208, 0);
            }
        }

    }
}