<div class="container-fluid mt-5 pfmenu">
    <div class="row mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 pfmenu_titulo">
            <h1 class="text-center">Pays y flanes</h1>
        </div>
        <div class="col-md-4 mb-5"></div>
    </div>

    <div class="container mt-5 pfmenu_content">
        <div class="row mt-5">
            <div class="col-md-4">
                <a [routerLink]="['/pays-flanes/pays-sencillo']"><h2 class="text-center pfmenu_content_titulo">Pay sencillo</h2></a>
                <a [routerLink]="['/pays-flanes/pays-sencillo']"><img src="http://trigalesdeoro.com.mx/images/pay%20de%20limon-u10324.png" class="img-fluid mt-5" alt=""></a>    
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/pays-flanes/pays-decorados']"><h2 class="text-center pfmenu_content_titulo">Pay decorado</h2></a>
                <a [routerLink]="['/pays-flanes/pays-decorados']"><img src="http://trigalesdeoro.com.mx/images/chocopay-u9937.png" class="img-fluid mt-4" alt=""></a>
                
            </div>

            <div class="col-md-4">
                <a [routerLink]="['/pays-flanes/flanes']"><h2 class="text-center pfmenu_content_titulo">Flanes</h2></a>
                <a [routerLink]="['/pays-flanes/flanes']"><img src=" http://trigalesdeoro.com.mx/images/flan%20napolitano-u9549.png" class="img-fluid" width="380px" alt=""></a>
                
            </div>
    
        </div>
    </div>

</div>
