<div class="container-fluid paydecorado">
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 paydecorado_titulo">
            <h1 class="text-center">Pays decorados</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- Contenido -->
    <div class="container mt-5">
        <div class="row">
            <!-- Pastel 1 -->
            <div class="col-md-6 mb-3 paydecorado_card">
                <img src="http://trigalesdeoro.com.mx/images/chocopay-u9937.png" class="img-fluid" width="500px" alt="">
                <div class="paydecorado_card_content mb-2">
                    <p class="text-center paydecorado_card_content_nombre mt-3">Chocopay</p>
                    <p class="text-center paydecorado_card_content_content">Galleta con crema de limón y merengue</p>
                    <p class="text-center paydecorado_card_content_tamano">Tamaño:</p>
                    <p class="text-center paydecorado_card_content_altura">Altura: 15 cm.</p>
                    <p class="text-center paydecorado_card_content_diametro">Diametro: 25 cm.</p>
                    <p class="text-center paydecorado_card_content_precio">$ 250.00</p>
                </div>
            </div>

             <!-- Pastel 2 -->
             <div class="col-md-6 mb-3 paydecorado_card">
                <img src="http://trigalesdeoro.com.mx/images/quesocrema%20zarza-u9940.png" class="img-fluid mx-4" width="500px" alt="">
                <div class="paydecorado_card_content mb-2">
                    <p class="text-center paydecorado_card_content_nombre mt-3">Chesse cake de zarzamora</p>
                    <p class="text-center paydecorado_card_content_content">Galleta con mermelada de manzana</p>
                    <p class="text-center paydecorado_card_content_tamano">Tamaño:</p>
                    <p class="text-center paydecorado_card_content_altura">Altura: 8 cm.</p>
                    <p class="text-center paydecorado_card_content_diametro">Diametro: 25 cm.</p>
                    <p class="text-center paydecorado_card_content_precio">$ 250.00</p>
                </div>
            </div>

            <div class="col-md-3"></div>

             <!-- Pastel 3 -->
             <div class="col-md-6 mb-3 paydecorado_card">
                <img src="http://trigalesdeoro.com.mx/images/pay%20de%20queso%20con%20zarza-u16854.png" class="img-fluid mx-5" width="500px" alt="">
                <div class="paydecorado_card_content mb-2">
                    <p class="text-center paydecorado_card_content_nombre mt-3">Pay de queso con zarzamora</p>
                    <p class="text-center paydecorado_card_content_content">Galleta con mermelada de piña</p>
                    <p class="text-center paydecorado_card_content_tamano">Tamaño:</p>
                    <p class="text-center paydecorado_card_content_altura">Altura: 8 cm.</p>
                    <p class="text-center paydecorado_card_content_diametro">Diametro: 25 cm.</p>
                    <p class="text-center paydecorado_card_content_precio">$ 250.00</p>
                </div>
            </div>

            <div class="col-md-3"></div>

        </div>
    </div>

</div>
