<div class="container-fluid inicio">
    <div class="row">
        <div class="col-md-12 mt-3 inicio_carrusel">
            <div class="container">
              <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="http://trigalesdeoro.com.mx/images/2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://trigalesdeoro.com.mx/images/3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://trigalesdeoro.com.mx/images/2.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <h1 class="text-center inicio_frase">El sabor de la calidad</h1>
        </div>
        <!-- <div class="col-md-12 mt-3">
            <img src="http://trigalesdeoro.com.mx/images/2.jpg" alt="">
        </div> -->

 
        <div class="row justify-content-center">
            <div class="col-lg-3" >
                <img class="img-fluid" src="http://trigalesdeoro.com.mx/images/3l%20cajeta%20principe.png" alt="">
                <p class="text-center"><a href="" class="text-center">Pasteles 3L.</a></p>
                
            </div>
            <div class="col-lg-3">
                <img class="img-fluid" src="http://trigalesdeoro.com.mx/images/3l%20chocofrutas%201.png" alt="">
                <p class="text-center"><a href="" class="text-center">Pasteles envinados</a></p>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid" src="http://trigalesdeoro.com.mx/images/3l%20chocofrutas%201.png" alt="">
                <p class="text-center"><a href="" class="text-center">Pasteles 3L.</a></p>
            </div>
        </div>

    </div>
</div>