<div class="container-fluid">
  <nav class="navbar navbar-expand-lg menu">
    <div class="container-fluid">
      <a class="navbar-brand menu_letras" href="#">
        <img src="../../../assets/images/logo 2016.png" alt="" width="30" height="30">
        Trigales de Oro
      </a>

      <div class="collapse navbar-collapse justify-content-center pt-2 mx-3" id="navbarNavAltMarkup">
        <div class="navbar-nav menu_items text-center mb-3">
          <a class="nav-link ms-2" aria-current="page" [routerLinkActive]="['active']" [routerLink]="['/']">Inicio</a>
          <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/nosotros']">Nosotros</a>
          <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/servicios']">Servicios</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu menu_content ms-3" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Pasteles</a></li>
              <li><a class="dropdown-item" href="#">Pays y flanes</a></li>
              <li><a class="dropdown-item" href="#">Pasteles miniatura</a></li>
            </ul>
          </li>
          <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/reconocimientos']">Pedidos
          </a>
          <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/reconocimientos']">Contacto
          </a>
        </div>

      </div>

      <button class="navbar-toggler menu_resp" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>