<nav class="navbar sticky-top navbar-expand-lg menu">
  <div class="container-fluid">
    <a class="navbar-brand menu_letras" [routerLink]="['/']">
      <img src="http://www.trigalesdeoro.com.mx/images/logo%202016.png" alt="" width="30" height="30">
      Trigales de Oro
    </a>

    <div class="collapse navbar-collapse justify-content-center pt-2 menu_navbar" id="navbarNavAltMarkup">
      <div class="navbar-nav menu_items text-center mb-3">
        <a class="nav-link ms-2" aria-current="page" [routerLink]="['/']">Inicio</a>
        <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/nosotros']">Nosotros</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu menu_navbar_content ms-3" aria-labelledby="navbarDropdownMenuLink">
            <li class=" d-flex">
              <a class="dropdown-item text-center" [routerLink]="['/pasteles']">Pasteles
                <img class="img-fluid" width="40px" src="https://img.icons8.com/cotton/64/000000/cake.png" />
              </a>
            </li>

            <li class=" d-flex">
              <a class="dropdown-item text-center" [routerLink]="['/pays-flanes']">Pays y flanes
                <img width="40px" src="https://img.icons8.com/cotton/64/000000/piece-of-lemon-cake.png" />
              </a>
            </li>
            <li>
              <a class="dropdown-item text-center" [routerLink]="['/individuales']">Pasteles individuales
                <img width="40px" src="https://img.icons8.com/cotton/64/000000/cupcake.png" />
              </a>
            </li>
          </ul>
        </li>
        <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['pedidos']">Pedidos</a>
        <a class="nav-link ms-2" [routerLinkActive]="['active']" [routerLink]="['/servicios']">Servicios</a>
      </div>

    </div>

    <button class="navbar-toggler menu_response" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon pt-1"><i class="icon ion-md-menu"></i></span>
    </button>
  </div>
</nav>