:host{
    .menu{
        background: rgb(2, 173, 2);
        padding: 10px;

        &_navbar {
            a{
                color: white !important;
                font-size: 25px;
            }
        }
        .dropdown-item{
            color: black !important;
            font-size: 25px;
        }

        .nav-link:hover {
            background-color: rgb(255, 196, 0);
            border-radius: 30px;
            color: black !important;
           
        }

        // .active{
        //     background-color: rgb(255, 196, 0);
        //     border-radius: 30px;
        //     color: white;
        // }

        &_letras{
            color: yellow;
        }

        &_resp{
            background: yellow;
        }
         &_content:hover {
            display: block;
          }
    }

}
