<!-- <p>pedidos works!</p> -->
<div class="container pedidos">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h1 class="text-center">Pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="pedidos_contenido">
                <p>
                   Los pedidos se elaboran vía telefónica al <strong>55 58 25 07 38</strong><br>
                    El horario y recepción de pedidos es de Lunes a Domingo de 12 a 9 pm.   <br>              
                    Le ofrecemos pasteles para clientes mayoristas con entrega a domicilio
                    (solo en área de cobertura) contamos con una amplia gama de productos y presentaciones. <br>
                    También desarrollamos productos acorde a sus necesidades.
                </p>

            </div>

        </div>
    </div>
</div>