<!-- <p>pedidos works!</p> -->
<div class="container pedidos">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h1 class="text-center animate__animated animate__fadeInDown">Pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="pedidos_contenido">
                <p class="center">
                   Los pedidos se elaboran vía telefónica al <br>
                    <strong><a href="tel:+525558250738"> 55 58 25 07 38</a></strong> <br>
                    <img src="https://cdn.pixabay.com/photo/2016/11/12/05/05/smartphone-1818253_960_720.png" width="120px" alt="">   
                </p>
                <hr>
                <p class="center">
                    El horario y recepción de pedidos es de <strong> Lunes a Domingo de 12 a 9 pm. </strong> <br>
                    <img src="https://cdn.pixabay.com/photo/2017/06/10/06/39/calender-2389150_960_720.png" width="70px" alt="">
                </p>
                <hr>
                <p  class="center">
                    Le ofrecemos pasteles para clientes mayoristas con entrega a domicilio <br>
                    <strong> (solo en área de cobertura)</strong>
                    contamos con una amplia gama de productos y presentaciones. <br>
                    <img src="https://cdn.pixabay.com/photo/2016/10/08/18/35/the-location-of-the-1724293_960_720.png" width="50px" alt="">
                </p>
                <hr>
                <!-- <p class="center">
                    También desarrollamos productos acorde a sus necesidades.
                </p> -->

            </div>

        </div>
    </div>
</div>